[data-aos="button-custom-transform"] {
  opacity: 0;
  transform: translateY(30px);
  transition: .8s;
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos="products-custom-transform"] {
  opacity: 0;
  transform: translateY(30px);
  transition: .8s;
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos="products-custom-zoom"] {
  opacity: 0;
  transform: scale(0.6);
  transition: .8s;
  &.aos-animate {
    opacity: 1;
    transform:  scale(1);
  }
}

@media (max-width: 864px) {
  [data-aos="products-custom-zoom"] {
    opacity: 0;
    transform: translate(0, -50%) scale(0.6);
    transition: .8s;
    &.aos-animate {
      opacity: 1;
      transform: translate(0, -50%) scale(1);
    }
  }
}

@media (max-width: 631px) {
  [data-aos="products-custom-zoom"] {
    opacity: 0;
    transform:  scale(0.6);
    transition: .8s;
    &.aos-animate {
      opacity: 1;
      transform:  scale(1);
    }
  }
}