:root {
  --white: #FFFFFF;
  --white-2: rgba(255, 255, 255, 0.8);
  --black: #000000;
  --black_2: #111111;
  --black_3: #222222;
  --light-green: #68B738;
  --green: #459712;
  --light-gray: #F2F2F2;
  --dark-gray: #444444;
  --gray: #D9D9D9;
  --light-gray_2: #EAEAEA;
  --light-gray_3:  #DCDCDC;
  --light-gray_4: #CDCDCD;
  --light-gray_5: #EBEBEB;
  --light-gray_6: #E7E7E7;
  --light-gray_7: #cdcdcd83;
  --dark-gray_2: #666666;
  --dark-gray_2: #444444;
  --color-error-red: #bf1650;
  --speed_05: .5s;
  --speed_03: .3s;
}